@import url('https://fonts.googleapis.com/css2?family=Play:wght@400;700&display=swap');

html{
  font-size: $baseFontSize;

  @include phones{
    font-size: 3.333vmin;
  }
}

body{
  font-family: "Play", sans-serif;
  color: #292929;
  line-height: 1.42;
  background: #fff;
  margin: 0px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.wrapper{
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.main{
  flex: 1 0 auto;
}

.footer{
  flex: 0 0 auto;
}

.container{
  max-width: $containerWidth; 
  position: relative;
  margin: auto;
}